<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FftSharp" version="1.0.8" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net472" />
  <package id="Microsoft.ML" version="1.5.2" targetFramework="net472" />
  <package id="Microsoft.ML.CpuMath" version="1.5.2" targetFramework="net472" />
  <package id="Microsoft.ML.DataView" version="1.5.2" targetFramework="net472" />
  <package id="Microsoft.ML.ImageAnalytics" version="1.5.2" targetFramework="net472" />
  <package id="Microsoft.ML.TensorFlow" version="1.5.2" targetFramework="net472" />
  <package id="Microsoft.ML.Vision" version="1.5.2" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="NAudio" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="NumSharp" version="0.20.4" targetFramework="net472" />
  <package id="SciSharp.TensorFlow.Redist" version="1.14.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="TensorFlow.NET" version="0.11.8.1" targetFramework="net472" />
  <package id="VoiceNET.Library" version="1.0.6.8" targetFramework="net472" />
</packages>